body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  width: fit-content;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote-text-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.quote-left {
  color: green;
  font-size: 80px;
}

.quote-text{
  max-width: 500px;
}

.quote-author {
  font-size: 20px;
}

.quoteButton{
  cursor: pointer; 
  color: #ffffff;
  border:none; /*delete the default one*/
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: auto;
  margin-top: 10px;
}